.create {
  padding: 5px;
  font-size: medium;
  background-color: #7a1b00;
  border: 3px double rgb(251, 255, 0);
  border-radius: 7px;
  font-weight: 600;
  font-family: "Aboreto", cursive;
}
.searchButton {
  padding: 4px;
  background-color: #b77a51e3;
  border: 3px double rgba(255, 216, 0, 0.71);
  border-radius: 7px;
  color: white;
  font-weight: 600;
  font-family: "Aboreto", cursive;
}
.reset {
  padding: 4px;
  background-color: #525050;
  border: 4px double rgba(255, 221, 29, 0.774);
  border-radius: 7px;
  color: white;
  font-family: "Aboreto", cursive;
  font-weight: 600;
}
.headerSelect {
  background-color: #525050;
  color: white;
  border-radius: 3px;
  border: hidden;
  margin-left: 4px;
  font-family: "Aboreto", cursive;
}
.headerSelect:hover {
  box-shadow: 0px 0px 15px 8px rgba(0, 121, 20, 0.39);
}
.card {
  width: 20vw;
  height: 400px;
  background: #7a1b00;
  text-align: center;
  margin: 3vh 3vw 3vh 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 2%;
  border: 6px double rgba(255, 216, 0, 0.71);
  perspective: 1000px;
}
.title {
  font-size: larger;
}
.flipCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .flipCard {
  transform: rotateY(180deg);
}
.flipFront,
.flipBack {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipBack {
  transform: rotateY(180deg);
}
.backImg {
  margin: 0;
  height: 77%;
  width: 100%;
  border-radius: 1%;
  object-fit: cover;
  filter: brightness(85%);
}
.infoCard {
  box-sizing: border-box;
  padding-top: 0.1vh;
  background: rgba(228, 211, 162, 0.7);
  border-radius: 25px;
  color: #fefae0;
}
.dietCard {
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: 0.3vh;
  background-color: #1a5200;
  height: 1rem;
  padding: 0.3vw;
  width: auto;
  color: #fff8f0;
  border-radius: 40px;
}
.filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  width: 100%;
  background-color: #1a5200;
  color: #fff8f0;
}
.pagesHolder {
  height: 7vh;
  display: flex;
  background: #b77951;
  box-shadow: 0px 0px 10px 5px rgb(255 102 196 / 8%);
  border-radius: 40px;
  margin-bottom: 3vh;
  margin-top: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.page {
  display: flex;
  justify-content: space-evenly;
  background-color: #fefae0;
  color: #1a5200;
  font-size: medium;
  width: 5px;
  font-weight: 1000;
  margin-right: 5px;
  margin-left: 5px;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
}
.page:hover {
  background-color: #535e32a6;
  color: #baceb7;
  cursor: pointer;
}
